---
layout: comparison_page_content
trial_bar: false
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - comparison-page-content.css
  - compared.css
  - release-posts.css
  - comparison-page-header.css
extra_js:
  - bootstrap-tooltip.js
---

- product_one = data.features.devops_tools[key_one]

- if content.title
  - current_page.data.title = content.title
- else 
  - current_page.data.title = content.page_title
- if content.description
  - current_page.data.description = content.description
- else
  - current_page.data.description = "Compare #{product_one.name} vs. GitLab"
- if content.canonical_path
  - current_page.data.canonical_path = content.canonical_path
- else
  - current_page.data.canonical_path = current_page.url
- content_for :comparison_header do
  = partial(content.header || 'includes/devops-tools/headers/header.html.haml', locals: { product_name: product_one.name, layout: 'detailed', padding_bottom: '70px', header_link: content.header_link })

- content_for :page_title do
  .container.padding-top60.padding-bottom60
    .container.text-center.title
      = content.page_title

- content_for :page_content do
  .container.margin-top50.margin-bottom50
    .col-md-10.comparison-page-content
      = kramdown(content.page_body)

