---
layout: default
title: Cookies Policy
description: "On this page you can find information on the GitLab Cookies Policy. Learn more!"
canonical_path: "/privacy/cookies/"
---
.container.txt-lefty
  .row
    .col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
      <script id="CookieDeclaration" src="https://consent.cookiebot.com/36a06ac5-ddb4-4f91-8337-067ad19ad8d5/cd.js" type="text/javascript" async></script>
