---
layout: default
title: Join the GitLab Talent Community
description: Review our open roles and join our talent community today
twitter_image: '/images/opengraph/Talent-Brand/hiring-day-in-the-life-person-on-couch.png'
twitter_image_alt: "A person sitting on the couch with their laptop, smiling."
twitter_site: "@gitlab"
twitter_creator: "@gitlab"
suppress_header: true
manual_cookiebot: true
extra_css:
  - jobs.css
---

.container.listing-container
  .content.tile{id: 'opportunities'}
    :markdown
      ## Careers at GitLab

      Interested in joining our [all-remote team](https://about.gitlab.com/company/culture/all-remote/)? GitLab is a very unique place to work, and we’re taking an equally unique approach to growing [our team](https://about.gitlab.com/company/team/org-chart/). Learn more about our talent acquisition model and what it’s like to work here on our [Jobs FAQ page](https://about.gitlab.com/jobs/faq/).

    .u-flex.justify-center
      = link_to "https://boards.greenhouse.io/gitlab/jobs/4700367002?gh_src=d865c64f2us", class: "btn cta-btn accent" do
        Join Our Talent Community

    :markdown
      <br><br>
      If you have questions about our Talent Community and how it all works, check out this video from our Recruiting team:

      <figure class='video_container'>
        <iframe src="https://www.youtube.com/embed/uK_kO8FcgpA"></iframe>
      </figure>

      <br><br>
      Here’s a list of the active roles we’re sourcing for now. To be considered for a career opportunity at GitLab, please join our Talent Community.
      <br>

    <br><br>
    :markdown

      | Department | Position Title | [Job Family](https://about.gitlab.com/handbook/hiring/job-families/) |
      |--------------------------|-----------------|------------------|
      | Engineering | Backend Engineer, Dev (Create: Editor) | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/) | 
      | Engineering | Backend Engineer, Enablement: Distribution | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/#distribution) |
      | Engineering | Backend Engineer, Scalability | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/#scalability) |
      | Engineering | Backend Engineer, Threat Management  | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/) |
      | Engineering | Backend Engineer, Verify | [What we're looking for](https://about.gitlab.com/job-families/engineering/backend-engineer/) |
      | Engineering | Database Reliability Engineer | [What we're looking for](https://about.gitlab.com/job-families/engineering/database-reliability-engineer/) |
      | Engineering | Product Designer, Release: Progressive Delivery | [What we're looking for](https://about.gitlab.com/job-families/engineering/product-designer/) |
      | Engineering | Product Design Manager, Manage/Plan | [What we're looking for](https://about.gitlab.com/job-families/engineering/ux-management/) |
      | Engineering | Senior Product Designer, Verify: Runner & Testing | [What we're looking for](https://about.gitlab.com/job-families/engineering/product-designer/ ) |
      | Engineering | Site Reliability Engineer | [What we're looking for](https://about.gitlab.com/job-families/engineering/infrastructure/site-reliability-engineer/) |
      | Engineering | Software Engineer in Test, Manage: Import | [What we're looking for](https://about.gitlab.com/job-families/engineering/software-engineer-in-test/) |
      | Engineering | Support Engineer (Americas) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) |
      | Engineering | Support Engineer (APAC) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) |
      | Engineering | Support Engineer (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-engineer) |
      | Engineering | Support Engineering Manager (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-management/) |
      | Engineering | Support Operations Specialist (APAC) | [What we're looking for](https://about.gitlab.com/job-families/engineering/support-operations-specialist/) |
      | Engineering | Technical Writer| [What we're looking for](https://about.gitlab.com/job-families/engineering/technical-writer/ ) |
      | G&A | Director, Business Analytics and Insights| [What we're looking for](https://about.gitlab.com/job-families/finance/analytics-and-insights/) 
      | G&A | Director, FP&A | [What we're looking for](https://about.gitlab.com/job-families/finance/finance-planning-and-analysis/) |
      | G&A | Director of Legal, Commercial | [What we're looking for](https://about.gitlab.com/job-families/legal/director-legal-us) |
      | G&A | Internal Strategy Consultant Director | [What we're looking for](https://about.gitlab.com/job-families/chief-executive-officer/internal-strategy-consultant/) |
      | G&A | IT Systems Engineer | [What we're looking for](https://about.gitlab.com/job-families/finance/it-systems-engineer/) |
      | G&A | Legal Counsel, Privacy & Product | [What we're looking for](https://about.gitlab.com/job-families/legal/legal-counsel/) |
      | G&A | Manager, Data | [What we're looking for](https://about.gitlab.com/job-families/finance/manager-data/) |
      | G&A | Manager, General Ledger Accounting | [What we're looking for](https://about.gitlab.com/job-families/finance/general-ledger-accountant/) |
      | G&A | Manager, International Payroll (EMEA/APAC/LATAM) | [What we're looking for](https://about.gitlab.com/job-families/finance/payroll/) | 
      | G&A | Manager, Payroll | [What we're looking for](https://about.gitlab.com/job-families/finance/payroll-specialist/) |
      | G&A | People Group Fullstack Engineer  | [What we're looking for](https://about.gitlab.com/job-families/people-ops/people-ops-fullstack-engineer/) |
      | G&A | Principal Internal Communications Manager | [What we're looking for](https://about.gitlab.com/job-families/chief-executive-officer/internal-communications/) |
      | G&A | Senior Accounts Payable Specialist | [What we're looking for](https://about.gitlab.com/job-families/finance/accounts-payable/) |
      | G&A | Senior Business Systems Analyst | [What we're looking for](https://about.gitlab.com/job-families/finance/business-system-analyst/) |
      | G&A | Senior Data Engineer| [What we're looking for](https://about.gitlab.com/job-families/finance/data-engineer/) |
      | G&A | Senior Financial Analyst, Channel - FP&A | [What we're looking for](https://about.gitlab.com/job-families/finance/finance-planning-and-analysis/) |
      | Marketing | Evangelist Program Manager | [What we're looking for](https://about.gitlab.com/job-families/marketing/evangelist-program-manager/) |
      | Marketing | Frontend Engineer, Marketing | [What we're looking for](https://about.gitlab.com/job-families/marketing/marketing-frontend-engineer/) | 
      | Marketing | Marketing Operations Manager | [What we're looking for](https://about.gitlab.com/job-families/marketing/marketing-operations-manager/) |
      | Marketing | Sales Development Representative (Americas) | [What we're looking for](https://about.gitlab.com/job-families/marketing/sales-development-representative/) |
      | Marketing | Sales Development Representative (APAC) | [What we're looking for](https://about.gitlab.com/job-families/marketing/sales-development-representative/) |
      | Marketing | Sales Development Representative, Commercial (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/marketing/sales-development-representative/) |
      | Marketing | Senior Channel Marketing Manager (US Eastern / US Central) | [What we're looking for](https://about.gitlab.com/job-families/marketing/product-marketing-manager/#partner-and-channel-marketing) |  
      | Marketing | Senior Content Editor | [What we're looking for](https://about.gitlab.com/job-families/marketing/editor/) |    
      | Marketing | Website Full Stack Developer | [What we're looking for](https://about.gitlab.com/job-families/marketing/marketing-full-stack-developer/) |
      | Product | Director of Pricing | [What we're looking for](https://about.gitlab.com/job-families/product/pricing/) | 
      | Product | Pricing Analyst | [What we're looking for](https://about.gitlab.com/job-families/product/pricing/#pricing-analyst) |  
      | Product | Principal Product Manager, Fulfillment | [What we're looking for](https://about.gitlab.com/job-families/product/product-manager/)
      | Product | Senior Product Analyst | [What we're looking for](https://about.gitlab.com/job-families/product/product-analyst/) |
      | Product | Senior Product Manager, Distribution | [What we're looking for](https://about.gitlab.com/job-families/product/product-manager/) |
      | Sales | Alliances Partner Manager | [What we're looking for](https://about.gitlab.com/job-families/alliances/alliances-manager/) |
      | Sales | Channel Sales Manager (Japan) | [What we're looking for](https://about.gitlab.com/job-families/sales/channel-sales-manager/) |          
      | Sales | Deal Desk Specialist (APAC)(Contract) | [What we're looking for](https://about.gitlab.com/job-families/sales/deal-desk/) |
      | Sales | Director, GTM Planning and Operations | [What we're looking for](https://about.gitlab.com/job-families/sales/gtm-planning-and-operations/) | 
      | Sales | Executive Business Administrator | [What we're looking for](https://about.gitlab.com/job-families/people-ops/executive-business-administrator/) | 
      | Sales | Senior Program Manager, Field Enablement | [What we're looking for](https://about.gitlab.com/job-families/sales/program-manager-field-enablement/) | 
      | Sales | Global Sales Director, Mid-Market | [What we're looking for](https://about.gitlab.com/job-families/sales/regional-sales-director/) | 
      | Sales | Inside Sales Representative (APAC) | [What we're looking for](https://about.gitlab.com/job-families/sales/public-sector-inside-account-representative/) |   
      | Sales | Mid Market Account Executive (ANZ)(Contract) | [What we're looking for](https://about.gitlab.com/job-families/sales/account-executive/) |        
      | Sales | Mid Market Account Executive (Japan) | [What we're looking for](https://about.gitlab.com/job-families/sales/account-executive/) | 
      | Sales | Partner Help Desk Specialist (APAC) | [What we're looking for](https://about.gitlab.com/job-families/sales/partner-helpdesk/) |
      | Sales | Professional Services Engineer (US) | [What we're looking for](https://about.gitlab.com/job-families/sales/professional-services-engineer/) |
      | Sales | Professional Services Technical Instructor | [What we're looking for](https://about.gitlab.com/job-families/sales/professional-services-engineer/) |
      | Sales | Program Manager, Customer Programs | [What we're looking for](https://about.gitlab.com/job-families/sales/program-manager-customer-programs/) | 
      | Sales | Public Sector Strategic Account Leader (DOD Navy) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Public Sector Strategic Account Leader (DOD USAF) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Public Sector Strategic Account Leader (FSI) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Senior Channel Sales Manager (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/sales/channel-sales-manager/) |  
      | Sales | Senior Solutions Architect (Commercial) | [What we're looking for](https://about.gitlab.com/job-families/sales/solutions-architect/) | 
      | Sales | SMB Account Executive (EMEA) | [What we're looking for](https://about.gitlab.com/job-families/sales/smb-customer-advocate/) |  
      | Sales | Strategic Account Leader (Bay Area) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) | 
      | Sales | Strategic Account Leader (Central) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |         
      | Sales | Strategic Account Leader (Germany) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Strategic Account Leader (Midwest) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Strategic Account Leader Named Accounts (NYC) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Strategic Account Leader (Rockies) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Strategic Account Leader (Southern Europe-French Speaking) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |  
      | Sales | Strategic Account Leader (UK) | [What we're looking for](https://about.gitlab.com/job-families/sales/strategic-account-leader/) |
      | Sales | Technical Instructional Designer (Contract) | [What we're looking for](https://about.gitlab.com/job-families/sales/technical-instructional-designer/)|
      | Sales | Technical Writer, Customer Programs | [What we're looking for](https://about.gitlab.com/job-families/sales/technical-writer-customer-programs/) | 


      If you are a current team member, please reference [this page](https://about.gitlab.com/handbook/hiring/interviewing/#internal-applicants) for additional information and a link to the internal job board. If you'd like to submit a referral, please reference [this page](https://about.gitlab.com/handbook/hiring/referral-process/#submitting-a-referral).

    %div.u-flex.justify-center
      = link_to "https://boards.greenhouse.io/gitlab/jobs/4700367002?gh_src=d865c64f2us", class: "btn cta-btn accent" do            
        Join Our Talent Community
