---
layout: default
title: GitLab Speakers Bureau
description: "Organizing an event? Looking for a speaker from GitLab? Here's a list of awesome speakers from the GitLab team and wider community."
---

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <h2>🦊 GitLab Speakers Bureau</h2>
        <p>
            The GitLab speaker's bureau helps you connect to GitLab team members and wider community members who are available to speak at events on topics in which they specialize.  
        </p>
    <%= partial 'includes/speakers_bureau_vue' %>
    </div>
</div>
